<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="">

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">

    <!-- Css -->
    <link rel="stylesheet" href="/public/css/styles.css">

    <title>CSFloat - Revolutionize Your CS2 Trading Experience</title>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
</head>

<body>
    <!-- Cuando la pantalla se vuelve muy pequeña tiene que desaparecer  -->
    <div class="container-fluid">
        <div class="skin-bar-container">
            <div class="container-fluid">
                <div class="btn-group d-flex" role="group" aria-label="Weapon categories">
                    <button type="button" class="btn btn-outline-secondary flex-fill">
                        <div class="element">
                            <div>Rifles</div>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"
                                    fill="none">
                                    <path d="M4 6L7 9L10 6" stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </div>
                    </button>
                    <button type="button" class="btn btn-outline-secondary flex-fill">
                        <div class="element">
                            <div>Pistols</div>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"
                                    fill="none">
                                    <path d="M4 6L7 9L10 6" stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </div>
                    </button>
                    <button type="button" class="btn btn-outline-secondary flex-fill">
                        <div class="element">
                            <div>SMGs</div>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"
                                    fill="none">
                                    <path d="M4 6L7 9L10 6" stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </div>
                    </button>
                    <button type="button" class="btn btn-outline-secondary flex-fill">
                        <div class="element">
                            <div>Heavy</div>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"
                                    fill="none">
                                    <path d="M4 6L7 9L10 6" stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </div>
                    </button>
                    <button type="button" class="btn btn-outline-secondary flex-fill">
                        <div class="element">
                            <div>Knives</div>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"
                                    fill="none">
                                    <path d="M4 6L7 9L10 6" stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </div>
                    </button>
                    <button type="button" class="btn btn-outline-secondary flex-fill">
                        <div class="element">
                            <div>Gloves</div>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"
                                    fill="none">
                                    <path d="M4 6L7 9L10 6" stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>