<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="">

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">

    <!-- Css -->
    <link rel="stylesheet" href="/public/css/styles.css">

    <title>CSFloat - Revolutionize Your CS2 Trading Experience</title>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="toolbar">
                    <a class="logo" href="/"><img src="assets/n-mini-logo.png" alt="Logo"></a>
                    <div>
                        <a class="route-button" href="/search">Market</a>
                        <a class="route-button" href="/db">Database</a>
                        <a class="route-button" href="/app">App</a>
                        <button class="login">Sign in</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <p>hola mundo</p>
    </div>
</body>

</html>